.DS_Store
iphone/build
iphone/com.equenda.*.zip
android/build
android/com.equenda.*.zip
android/java-sources.txt
android/Resources
android/dist
android/bin
android/.idea
android/.settings
android/.project
